html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    overflow-x: hidden;

    user-select: none;
}

h2 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

section {
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 50%;
    max-width: 50%;
}

.col img {
    vertical-align: middle;

    width: 100%;
}

.col img:nth-child(2) {
    transition-delay: 200ms;
}

.hiddenLeft {
    opacity: 0;
    transform: translateX(-100%);
    transition: all ease-out 1s;
}

.hiddenRight {
    opacity: 0;
    transform: translateX(100%);
    transition: all ease-out 1s;
}

.showLR {
    opacity: 1;
    transform: translateX(0);
}

.box {
    height: 100vh;

    flex-basis: 24%;
    flex-shrink: 1;
    flex-grow: 1;

    transition: ease-out 0.3s;
}
#tripleImage {
    display: flex;
    flex-wrap: wrap;
}
.box img {
    width: 100%;
    height: 100%;

    vertical-align: middle;
    
    object-fit: cover;

}
.expand {
    flex: 35%;
}
.expandS {
    flex: 20%;
}

/* #slideshow {
    position: relative;
}

#slideshow img {
    transition: ease-out 0.3s;
} */

/* #indicators {
    text-align: center;
    position: absolute;
    bottom: 2%;
    width: 100%;
} */

/* button {
    width: 10%;
    height: 3px;
    margin: 15px;

    border: none;
    border-radius: 5px;
    background-color: gray;

    transition: ease-out 0.2s;
} */

/* .sh {
    display: flex;
}
.hidden {
    display: block;
    position: relative;
} */

/* @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */