html, body {
    height: 100%;
    margin: 0;     
    padding: 0;

    background-color: white;

    user-select: none;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.delay {
    transition-delay: 100ms;
}

/* @media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
} */

h1 {
    color: black;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;

    padding: 5%;
    padding-top: 7%;;

    width: 90%;

    margin-top: 0;
    margin-bottom: 0;
}

hr {
    width: 30%;
    margin-left: 4%;
    margin-bottom: 4%;
    margin-top: 1%;
}

section {
    height: fit-content;
}

p {
    color: black;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

    padding-bottom: 2%;
    margin-left: 5%;
    margin-bottom: 0;
}

a {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    line-height: 150px;
    width: 100%;
    
    -webkit-user-drag: none;
}

#intro {
    /* background-image: linear-gradient(60deg, rgb(0, 47, 255) , rgb(0, 153, 255)); */
    background-image: url("waves_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: white; */
    padding-bottom: 6%;
    width: 100%;
}

div {
    width: 100%;

    position: relative;
    display: inline-block;
}

#teapot {
    background-image: url("images/anime_teapot.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%, 50%;

    height: 100%;
    width: 100%;

    align-items: center;

    display: flex;
}

#button {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

    backdrop-filter: blur(10px);

    transition: ease-in 0.2s;
}

#button:hover {
    line-height: 200px;
    font-size: 25px;
    backdrop-filter: blur(20px);
}

#sitemap {
    background-color: black;
    padding: 5%;
    display: flex;
}